<!DOCTYPE HTML>
<html>
<head>
    <title>Sync Player</title>
    <style type="text/css">
        video::-webkit-media-controls-fullscreen-button {}
        video::-webkit-media-controls-play-button { display: none; }
        video::-webkit-media-controls-timeline {}
        video::-webkit-media-controls-current-time-display{}
        video::-webkit-media-controls-time-remaining-display {}
        video::-webkit-media-controls-mute-button {}
        video::-webkit-media-controls-toggle-closed-captions-button {}
        video::-webkit-media-controls-volume-slider {}
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            var name = "Guest"
            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.name + ': ' + msg.data).html());
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my event', {data: "Set name: "+$('#emit_data').val()});
                name = $('#emit_data').val()
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my broadcast event', {data: $('#broadcast_data').val(),name:name});
                return false;
            });            

            var video = $('video')[0];
            $('#videoInput').change(function () {
                if (this.files.length < 1)
                    return;
                var url = URL.createObjectURL(this.files[0]);
                video.src = url;
            });
            $('#subtitleInput').change(function () {
                if (this.files.length < 1)
                    return;
                var url = URL.createObjectURL(this.files[0]);
                $('track').remove();
                $('<track kind="subtitles">').attr('src', url).appendTo(video);
                video.textTracks[0].mode = 'showing';
            });
            $('.btn-play').click(function () {
                socket.emit('video control', {actiontype: 'play', progress: video.currentTime});
            });
            $('.btn-pause').click(function () {
                socket.emit('video control', {actiontype: 'pause', progress: video.currentTime});
            });
            socket.on('video control',function(d){
                var actions = function() {
                    video.pause();
                    video.currentTime = d.progress;
                    video[d.actiontype]();
                };
                if (d.ontime) {
                    var delay = new Date(d.ontime) - Date.now();
                    if (delay > 0) {
                        setTimeout(actions, delay);
                    }
                } else {
                    actions();
                }
            });
        });
    </script>
</head>
<body>
    <div>
        <video controls></video>
        <div class="video-controls">
            <button class="btn-play">Play all</button>
            <button class="btn-pause">Pause all</button>
        </div>
    </div>
    <div>
        <p>Choose movie: <input id="videoInput" type="file" accept="video/*"></p>
        <p>Choose subtitle: <input id="subtitleInput" type="file" accept=".vtt"></p>
    </div>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Your name">
        <input type="submit" value="Set">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <h2>Chat room:</h2>
    <div id="log"></div>
</body>
</html>